<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

<!-- Icons -->

<!-- Meta -->
<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width = device-width, content=initial-scale=1.0, user-scalable = yes">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<meta content='website' property='og:type'>
<meta content='https://www.ri.gov/' property='og:url'>
<meta content='https://www.dannychapman.com/{{ site.url }}/images/design/icons/touch-icon-iphone4.png' property='og:image'>
<meta content='Danny Chapman' property='og:title'>
<meta content='Government design and usability' property='og:description'>
<meta name="apple-mobile-web-app-title" content="Danny">
<meta name="application-name" content="Danny">

<link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} RSS Feed" href="http://dannychapman.com/feed/">

<!-- Icons -->
<link rel="shortcut icon" href="{{ site.url }}/images/design/icons/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ site.url }}/images/design/icons/apple-icon-touch-57-precomposed.png".png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/images/design/icons/apple-icon-touch-72-precomposed.png".png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/design/icons/apple-icon-touch-114-precomposed.png".png">



<!-- Javascript -->
<script src="{{ site.url }}/js/jquery-1.7.2.min.js"></script>
<script src="{{ site.url }}/js/responsivegridsystem.js"></script>
<script src="{{ site.url }}/js/selectivizr-min.js"></script>

<!-- Typekit -->
<script type="text/javascript" src="//use.typekit.net/tar7uqh.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Style Sheets -->
<link rel="stylesheet" href="{{ site.url }}/styles/grid/html5reset.css" media="all">
<link rel="stylesheet" href="{{ site.url }}/styles/grid/col.css" media="all">
<link rel="stylesheet" href="{{ site.url }}/styles/grid/8cols.css" media="all">
<link rel="stylesheet" href="{{ site.url }}/styles/fonts/dannychapman.css">
<link rel="stylesheet" href="{{ site.url }}/styles/design.css">


</head>



<body class="{{ page.layout }} post{{ page.id | replace:"/","-" }}">

<div id="wrap">

<header>

<div class="banner" role="banner">
<h1><a href="./">Danny Chapman</a></h1>
<h2>Government design and usability</h2>
</div>

</header>

