/*** DannyChapman.com ***/

/*** Reset CSS - Eric Meyer ***/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0;font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
body {line-height: 1;color: black; background: #fff;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/*** Clearing Floats - Dan Cederholm ***/
.group:after, #primarycontent:after{
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; /* My addition. Not sure it's a good idea, but there you go. */
  clear:both;
  visibility: hidden;
}

body {
  text-align: center;
  background: #eee;
  background: rgba(0,0,0,.04);
  font-size: 16px;
  margin: 0 auto;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-weight: normal; font-weight: 200;}

h1 {margin: 0 0 1em 0; font-size: 2em;}

#wrap {
  max-width: 760px;
  margin: 1em auto;
  background: #fff;
  text-align: left;
  padding: 2em;
}

ul li {
  list-style: none;
  display: block;
  padding:  .5em 0;
}


a {color: #f70; text-decoration: none; border-bottom: 1px dotted #ccc; font-weight: 100; font-size: 1.3em; letter-spacing: .02em;}