/*** General ***/
header, #content, footer {padding: 0 5%}
p {line-height: 1.4em; margin-bottom: 1em; }
#content a {text-decoration: none; border-bottom: 1px solid rgba(0,0,0,.2);}
ul li {list-style: none; display: block; line-height: 1.75em;}
h1, h2, h3, h4, h5, h6 {font-weight: normal; margin-bottom: .5em; line-height: 1.4em;}
ul.feature-list li {border-bottom: 1px solid rgba(255,255,255,.1); line-height: 1.3em; padding: .35em 1em .35em 0;}
ul.feature-list li:last-child {border-bottom: none;}
ul.feature-list .date, ul.feature-list .source {color: #fff; color: rgba(255,255,255,.5);}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em; font-weight: bold;}

body {font-family: "museo-sans" "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 1.4em; color: #444;}


/*** Header ***/

header {
  /* background: url(../images/design/backgrounds/header.jpg) 50% 100%; */
  background: #205D82;
  height: auto;
  padding: 2em 1em;
  box-sizing: border-box;
  text-align: center;
  background-size: cover;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.15);
}

@media only screen and (min-width: 680px) {
  header {padding: 0;}
}

.banner {

  padding: 2em .3em 3em .75em;
}

header h1 {
  text-align: center;
  font-size: 1.25em;
  padding: .5em .5em 0 .5em;
  margin: 0 auto;
  display: block;
  font-family: "adobe-caslon-pro", "Georgia", serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.1em;
}


header .banner h2 {text-align: center; padding: .65em 0 .5em 0; margin: 0; font-size: 1.1em; font-family: "museo-sans", Helvetica, Arial, sans-serif; font-weight: 300;  clear: both; color: rgba(255,255,255,.7);}

@media only screen and (min-width: 680px) {
  header h1 {font-size: 3.75em;}
  header .banner h2 {font-size: 1.5em;}
}

header a {text-decoration: none; color: #fff; }

/*** Content ***/

#content a {color: #205D82;}
#content a:hover, #content a:active {color: #E58C0C;}
#content .title a {border-bottom: none;}
#content h2.title {line-height: 1.1em;}

#content, footer .section {padding: 2em 2%; margin: 0 auto;  max-width: 700px;}
#content.wide {max-width: 960px; }

footer .section {padding: 2em 2%; margin: 0 auto; font-size: .85em; }

#content .post-meta {border-bottom: 1px solid rgba(0,0,0,.1); padding-bottom: .5em; margin-bottom: .5em; font-family: "adobe-caslon-pro", "Georgia", serif; color: #777; font-size: 1.1em;}

/*** Posts ***/

#content {font-weight: 500;}
#content ul {list-style: square; list-style-type: square; margin: 0 0 1em 0; }
#content ul li {list-style: square; list-style-type: square; display: block; list-style-position: outside;}

span.date {display: block; color: #66534A; font-family: "adobe-caslon-pro", "Georgia", serif; }

.previous {border-top: 2px dotted #66534A; margin-top: 1.5em; padding-top: 1em;}

#content ul.button-list {margin: 1em 0; padding: 0;}
#content ul.button-list li {display: inline-block; margin: 0 1em 0 0;}
#content ul.button-list li a {background: #eee; background: rgba(0,0,0,.1); display: block; border-bottom: none; text-decoration: none; padding: .15em .75em;}

/*** Footer ***/

footer {background: #0D1230; margin: 1em 0 0 0; color: #fff; padding: 2em 5%; -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1) inset;}
footer section {max-width: 700px; margin: 0 auto;}

body.wide footer .section {max-width: 960px;}
body.wide footer {padding: 2em 0;}

@media only screen and (min-width: 680px) {
  footer {background: #0D1230; }
}

footer div {color: #fff; color: rgba(255,255,255.9);}
footer abbr[title] {text-decoration: none; border-bottom: none;}
footer h3 abbr {font-weight: 200; }
footer a {color: #fff; color: rgba(255,255,255,.85); text-decoration: none;}
footer a:hover {color: #eee;}
footer p {padding-right: 2em; font-size: .9em; color: #fff; color: rgba(255,255,255,.9);}
footer .social a   {border-bottom: none;}

a.button {background: #1B5C83; padding: .35em 1em; text-shadow: 0 1px 0 rgba(0,0,0,.2);}
a.button span {opacity: .5;}

footer h3 {text-transform: uppercase; letter-spacing: 0.1em; font-size: 1em; font-weight: 600; letter-spacing: 0.1em;}
.bio img {border: 1px solid rgba(255,255,255,.5); margin: 0 1em 1em 0;}

img {max-width: 100%;}

/*** Portfolio ***/

#slide.one {background: #205D82;}

.band {background: #E8E8E8;}

/*** About ***/

.aside {border-top: 1px solid #205D82; padding: 2em 0 0 0; }

@media only screen and (min-width: 680px) {
  .aside {
  padding: 0;
  margin-top: 4em;
  border-top: none;
}
.section.about h3, h4, h5, h6 {text-transform: uppercase; font-size: 1em; letter-spacing: 0.06em; font-weight: bold; color: #321F18;}
.section.about img {max-width: 100%; width: 100%;}
.section.about ul.feature-list .date, ul.feature-list .source {color: #444; display: block; padding: .3em 0; font-size: .85em;}
footer  ul.feature-list .source {color: #fff; color: rgba(255,255,255,.7);}

img.feature {border: 1px solid #ccc; margin-bottom: 1em; }

abbr {text-decoration: none; border-bottom: none; }
