/*** General ***/

header, #content, footer {padding: 0 5%}
p {line-height: 1.4em; margin-bottom: 1em;}
#content a {text-decoration: none; border-bottom: 1px solid rgba(0,0,0,.2);}
ul li {list-style: none; display: block; line-height: 1.75em;}
h1, h2, h3, h4, h5, h6 {font-weight: normal; margin-bottom: .5em; line-height: 1.4em;}
ul.feature-list li {border-bottom: 1px solid rgba(255,255,255,.1); line-height: 1.3em; padding: .35em 1em .35em 0;}
ul.feature-list li:last-child {border-bottom: none;}

ul.feature-list .date, ul.feature-list .source {color: #fff; color: rgba(255,255,255,.5);}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em; font-weight: bold;}

body {font-family: "freight-sans-pro" "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.4em;}


/*** Header ***/

header {
  background: url(../images/design/backgrounds/header.jpg) 50% 100%;
  height: auto;
  padding: 1.75em;
  box-sizing: border-box;
  text-align: center;
  background-size: cover;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.2);
  border-bottom: 1px double #331F18;
}

@media only screen and (min-width: 680px) {
  header {padding: 1.5em 0; height: 13em;}
}

.banner {
  background: rgba(51,31,24,.85);
  display: inline-block;
  padding: 0 .3em;
}

header h1 {
  text-align: center;
  font-size: 1.75em;
  padding: .15em .5em 0 .5em;
  margin: 0 auto;
  display: block;
  font-family: "garamond-premier-pro-display", "Georgia", serif;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: 300;
  line-height: 1.2em;
}


header .banner h2 {text-align: center; padding: 0 0 .5em 0; margin: 0; font-size: 1.1em; font-family: "garamond-premier-pro-display"; font-weight: 300;  clear: both; color: rgba(255,255,255,.7); letter-spacing: 0.05em;}


@media only screen and (min-width: 680px) {
  header h1 {font-size: 3.75em;}
  header .banner h2 {font-size: 1.5em;}
}


header a {text-decoration: none; color: #fff; }

/*** Content ***/

#content a {color: #205D82;}
#content a:hover, #content a:active {color: #E58C0C;}
#content .title a {border-bottom: none;}
#content h2.title {line-height: 1.1em;}

#content {padding: 2em 2%; margin: 0 auto;  max-width: 700px;}


#content .post-meta {border-bottom: 1px solid rgba(0,0,0,.1); padding-bottom: .5em; margin-bottom: .5em; font-family: "garamond-premier-pro-display", "Georgia", serif; color: #777; font-size: 1.1em;}

/*** Posts ***/

#content ul {list-style: square; list-style-type: square; margin: 0 0 1em 0; }
#content ul li {list-style: square; list-style-type: square; display: block; list-style-position: outside;}

span.date {display: block; color: #66534A; font-family: "garamond-premier-pro-display", "Georgia", serif; }

.previous {border-top: 2px dotted #66534A; margin-top: 1.5em; padding-top: 1em;}

/*** Footer ***/

footer {background: #695850; margin: 1em 0 0 0; color: #fff; padding: 2em 5%; -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1) inset;}

@media only screen and (min-width: 680px) {
  footer {background: #695850 url(../images/design/backgrounds/footer.jpg) top center no-repeat; background-size: cover;}
}

footer div {color: #fff; color: rgba(255,255,255.9);}
footer abbr[title] {text-decoration: none; border-bottom: none;}
footer h3 abbr {font-weight: 200; }
footer a {color: #fff; color: rgba(255,255,255,.85); text-decoration: none;}
footer a:hover {color: #E58C0C;}
footer p {padding-right: 2em; font-size: .9em; color: #fff; color: rgba(255,255,255,.9);}
footer .social a   {border-bottom: none;}
.disclaimer {font-size: .9em; color: rgba(255,255,255,.3); border-top: 1px solid rgba(255,255,255,.1); padding: 1em 0;}
.disclaimer p {line-height: 1.2em; margin: 0; padding: 0 0 .5em 0; }

@media only screen and (min-width: 680px) {
  .disclaimer p {width: 65%;}
}

footer h3 {text-transform: uppercase; letter-spacing: 0.1em; font-size: 1em; font-weight: 600; letter-spacing: 0.1em;}
.bio img {border: 1px solid rgba(255,255,255,.5); margin: 0 1em 1em 0;}
